body {
    background-color: #AFD3E2;
    /* width: 1025px;
    height: 1000px; */
    margin:0;
    opacity: 1;
}

/* Dropdown Button */
.dropbtn {
    background-color: #F5F5F5;
    color: rgba(20, 108, 148, 0.6);
    width: 125px;
      height: 25px;
      margin-left: 100px;
      display: flex;
      /* justify-content: space-between; */
      padding: 5px 0 0 5px;
       justify-content: space-around;
  } 
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
    align-items: row;
    justify-content: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #D9D9D9;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #D9D9D9;}

#submit {
    background-color: #146C94;
    color: #AFD3E2;
    border-radius: 7px;
    height: 25px;
    width: 100px;
}

nav {
    /* width: 930px;
    height: 300px; */
    background-color: #00AAD2;
    /*background-image:linear-gradient(#19A7CE, #AFD3E2);*/
    display: flex;
    align-items: row;
    justify-content: space-between;
    /* margin-left: 100px; */
    padding: 20px 60px 0 60px;
    z-index: 0;
}

#blur{
    height:20px;
    background-image:linear-gradient(#00AAD2, #AFD3E2);
    
}


img {
    width: 350px;
    height: 120px;
    margin-top: 35px;
    /* box-shadow: 2px 2px 2px 2px #19A7CE; */
    border-radius: 2px;
}

input {
    width: 300px;
    height: 25px;
    margin: 80px 0 0 20px;
    border-radius: 7px;
    border: none;
}