body {
    background-color: #AFD3E2;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
}

.dropbtn {
    background-color: #F5F5F5;
    color: rgba(20, 108, 148, 0.6);
    width: 100px;
      height: 30px;
      margin-left: 120px;
      display: flex;
      padding: 5px 0 0 5px;
      box-shadow: 2px 2px 2px 2px rgba(20, 108, 148, 0.6);
      border: solid 2px #146C94;
      border-radius: 2px;

  } 
  
  
  .dropdown {
    display: flex;
    align-items: row;
    margin-left: 200px;
  }

  #brandDropdown {
    margin-right: 100px;
  }

  #priceDropdown {
    margin-right: 100px;
  }

  #sizeDropdown {
    margin-right: 100px;
  }
  
 
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px;
    position: absolute;
    overflow: auto;
    margin-left: 120px;
  }

 .dropdown-content a {
  color: black;
  }
  

  #drop1 a:hover {background-color: #D9D9D9; color: #146C94}
  #drop2 a:hover {background-color: #D9D9D9; color: #146C94}
  #drop3 a:hover {background-color: #D9D9D9; color: #146C94}
  #drop4 a:hover {background-color: #D9D9D9; color: #146C94}
  

  #drop1:hover .dropdown-content {display: grid;}
  
  #drop1:hover .dropbtn {background-color: #D9D9D9;}

  #drop2:hover .dropdown-content {display: grid;}
  #drop2:hover .dropbtn {background-color: #D9D9D9;}

  #drop3:hover .dropdown-content {display: grid;}
  #drop3:hover .dropbtn {background-color: #D9D9D9;}

  #drop4:hover .dropdown-content {display: grid;}
  #drop4:hover .dropbtn {background-color: #D9D9D9;}



#submit {
    background-color: #146C94;
    color: #AFD3E2;
    border-radius: 7px;
    height: 25px;
    width: 100px;
}

nav {
    background-color: #00AAD2;
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 20px 60px 30px 60px;
    z-index: 0;
}

#blur{
    height:20px;
    background-image:linear-gradient(#00AAD2, #AFD3E2);
    
}


img {
    width: 350px;
    height: 120px;
    margin-top: 35px;
    border-radius: 2px;
}

input {
    width: 300px;
    height: 25px;
    margin: 80px 0 0 20px;
    border-radius: 7px;
    border: none;
}

.review-form {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 50px;
  font-size: 12px;
  padding: none;
  background-color: #00AAD2;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(20, 108, 148, 0.6);
}

.radios {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  display: grid;
  vertical-align: middle;
}


.api-product {
  height: 730px;
  border-radius: 5px;
  background-color: #AFD3E2;
  width: 800px;
  font-size: 12px;
  margin-top: 150px;
  margin-bottom: 50px;
  padding-left: 20px;
}


.allContent {
  display: flex;
  align-items: row;
}

#drop1 #drop2 #drop3 #drop4 {
  display: flex;
  align-items: column;
}

#submit2 {
  background-color: #146C94;
  color: #AFD3E2;
  border-radius: 2px;
}

#submit:hover {
  cursor: pointer;
  background-color:rgba(20, 108, 148, 0.6)
}

#submit2:hover {
  cursor: pointer;
  background-color:rgba(20, 108, 148, 0.6)
}

#reviews {
  margin-left: 10px;
  border-radius: 5px;
  height: 400px;
  width: 300px;
  margin-top: 150px;
  background-color: #F1F1F1;
  padding-top: 5px;
  box-shadow: 2px 2px 2px 2px rgba(20, 108, 148, 0.6);
}

h4 {
  text-align: center;
  color:#146C94;
}

h2 {
  font-size: 15px;
}


